<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{::script})}">
	<meta charset="ISO-8859-1">
	<title>Granting Data - Edit Program Lead</title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		
		
		  $('#isJointInitiative').click(function(){
		    if($(this).is(":checked"))
		       $("#partnerOrg").removeAttr("disabled");
		    else
		       $("#partnerOrg").attr("disabled" , "disabled");
		});
		  
		  
		  $("#isNOI").click(function(){
			  
			  if($(this).is(":checked"))
			       $("#isNOI").set("true");
			    else
			       $("#isNOI").set("false");  
		  });
		  
		  
			  $("#isLOI").click(function(){
				  
				  if($(this).is(":checked"))
				       $("#isLOI").set("true");
				    else
				       $("#isLOI").set("false");  
			  });
			  
			  
				  $("#isFullApplication").click(function(){
					  
					  
					  if($(this).is(":checked"))
					       $("#isFullApplication").set("true");
					    else
					       $("#isFullApplication").set("false");  
				  });
		  
		}); 	
	</script>
</head>
<body>
	 <div th:insert="~{fragments/general.html :: header_nav('home')}" />
	 <div class="container">
     <h1>Create a Funding Opportunity</h1>
	<form action="#" th:action="@{addFo}" th:object="${fo}" method="post"> 
			<input type="hidden" th:field="*{id}" />           					
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Name</div>
				<div><input th:field="*{nameEn}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}">Name Error</div>
			</div>
			
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Name_Fr </div>
				<div><input th:field="*{nameFr}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('nameFr')}" th:errors="*{nameFr}">Name Error</div>
			</div>
			
			
			<div class="form-group row">
			<div class="col-sm-2 col-form-label">Lead Agency</div>
				<div><select class="col-sm-2" th:field="*{leadAgency}">
					<option th:each="agency : ${allAgencies}"
						th:value="${agency.id}"
						th:text="${agency.getLocalizedAttribute('acronym')}">
					</option>
				</select>
			</div>
				<div th:if="${#fields.hasErrors('leadAgency')}" th:errors="*{leadAgency}">Lead Agency Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Division</div>
				<div><input  class="col-sm-2" th:field="*{division}"  /></div>
				<div th:if="${#fields.hasErrors('division')}" th:errors="*{division}">Division Error</div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Is Joint Initiative? </div>
				<div><input id="isJointInitiative" type="checkbox" th:field="*{isJointInitiative}" class="col-sm-2"	></div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Participating Organization </div>
				<div><input id="partnerOrg" type="text" th:field="*{partnerOrg}" class="col-sm-2" disabled ></div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Participant Complex? </div>
				<div><input id="isComplex" type="checkbox" th:field="*{isComplex}" class="col-sm-2" ></div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Is EDI Required? </div>
				<div><input id="isEdiRequired" type="checkbox" th:field="*{isEdiRequired}" class="col-sm-2"  ></div>  
			</div>
				
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Funding Type</div>
				<div><input class="col-sm-2" th:field="*{fundingType}" /></div>
				<div th:if="${#fields.hasErrors('fundingType')}" th:errors="*{fundingType}">Funding Type Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Program Lead Name</div>
				<div> <input class="col-sm-2" th:text="*{programLeadName}"/></div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Frequency</div>
				<div><input class="col-sm-2" th:field="*{frequency}" /></div>
				<div th:if="${#fields.hasErrors('frequency')}" th:errors="*{frequency}">Frequency Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Apply Method</div>
				<div><input class="col-sm-2" th:field="*{applyMethod}" /></div>
				<div th:if="${#fields.hasErrors('applyMethod')}" th:errors="*{applyMethod}">Apply Method Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Award System</div>
				<div><input class="col-sm-2" th:field="*{awardManagementSystem}" /></div>
				<div th:if="${#fields.hasErrors('awardManagementSystem')}" th:errors="*{awardManagementSystem}">Award Management System Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Program Lead Name</div>
				<div> <input class="col-sm-2" th:text="*{programLeadName}"/></div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Stages: </div>
				<br>
				<div><input id="isNOI" type="checkbox" th:field="*{isNOI}" class="col-sm-2"	value="isNOI" > NOI </div>
				<div><input id="isLOI" type="checkbox" th:field="*{isLOI}" class="col-sm-2" value= "isLOI"> LOI </div>
				<div><input id="isFullApplication" type="checkbox" th:field="*{isFullApplication}" class="col-sm-2" value="isFullApplication"> Full Application </div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Agencies</div>
			
				<div>
					<select>
							<option >NSERC</option>
							<option >SSHRC</option>
		            </select>
	            </div>
		
	            
				<div th:if="${#fields.hasErrors('participatingAgencies')}" th:errors="*{participatingAgencies}">Agencies Error</div>
				
				<br> 
				<br>
			
			<input type="submit" class="btn btn-primary" role="button" th:value="Submit" />
		</form>
		</div>
   </body>
</html>