<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{::script})}">
<meta charset="ISO-8859-1">
<title>Granting Data - Create Funding Cycle</title>
<script>
      $(document).ready(function() { 
       $("#isOpen").click(function() {
         $("#startDate").attr('disabled', !$("#startDate").attr('disabled'));
         $("#endDate").attr('disabled', !$("#endDate").attr('disabled'));
       }); 
      }); 
</script>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('programs')}" />
	<div class="container">
		<form action="#" th:action="@{createFundingCycle}" th:object="${fundingCycle}" method="post">            		
        	<!-- <input type="hidden" th:field="*{id}" />  -->
			<h1>Create Funding Cycle</h1>
				<div class="form-group row">
			<div class="col-sm-2 col-form-label">Fiscal Year</div>
			<select  th:field="*{fiscalYear}">
				<option th:each="i : ${fy}" th:value="${i.id}" th:text= "${i.getYear()}">Fiscal Year</option>
			</select>
			</div>
<!-- 			<div class="form-group row"> -->
<!-- 				<div class="col-sm-2 col-form-label">Competition Year</div> -->
<!-- 				<div><input type="date" th:field="*{compYear}" class="col-sm-2"  /></div> -->
<!-- 				<div th:if="${#fields.hasErrors('compYear')}" th:errors="*{compYear}">Comp Year Error</div> -->
<!-- 			</div> -->
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Is Open Ended?</div>
				<div><input id="isOpen" type="checkbox" th:field="*{open}" class="col-sm-2"  /></div>
			</div>
			
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Start Date</div>
				<div><input id="startDate" type="date" th:field="*{startDate}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Start Date Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">End Date</div>
				<div><input id="endDate" type="date" th:field="*{endDate}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">End Date Error</div>
			</div>
			
			
			
			
		<div th:if="${fo.isNOI}" >
			<b>NOI </b> <br> <br>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Start Date</div>
				<div><input id="startDateNOI" type="date" th:field="*{startDateNOI}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('startDateNOI')}" th:errors="*{startDateNOI}">Start Date Error</div>
			</div>
			
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">End Date</div>
				<div><input id="endDateNOI" type="date" th:field="*{endDateNOI}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('endDateNOI')}" th:errors="*{endDateNOI}">End Date Error</div>
			</div>
		
		</div>	
		
		
		<div th:if="${fo.isLOI}">
			<b> LOI </b> <br> <br>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Start Date</div>
				<div><input id="startDateLOI" type="date" th:field="*{startDateLOI}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('startDateLOI')}" th:errors="*{startDateLOI}">Start Date Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">End Date</div>
				<div><input id="endDateLOI" type="date" th:field="*{endDateLOI}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('endDateLOI')}" th:errors="*{endDateLOI}">End Date Error</div>
			</div>
		</div>
			
			
			<div th:if="${fo.isFullApplication}">	
			
			<b>Full Application </b> <br> <br>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Start Date</div>
				<div><input id="startDateFullApplication" type="date" th:field="*{startDateFullApplication}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('startDateFullApplication')}" th:errors="*{startDateFullApplication}">Start Date Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">End Date</div>
				<div><input id="endDateFullApplication" type="date" th:field="*{endDateFullApplication}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('endDateFullApplication')}" th:errors="*{endDateFullApplication}">End Date Error</div>
			</div>
			</div>
			
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Number of Expected Applications</div>
				<div><input th:field="*{expectedApplications}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('expectedApplications')}" th:errors="*{expectedApplications}">Expected Applications Error</div>
			</div>
			<input type="hidden" name="fundingOpportunity" th:value="${foId}" />
			<input type="submit" class="btn btn-primary" role="button" th:value="Submit" />
		</form>
		
		
		
	</div>
</body>
</html>