<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{::script})}">
<meta charset="ISO-8859-1">
<title>Granting Data - View Funding Opportunity</title>
<script>
$(document).ready(function(){
	  $('#isJointInitiative').click(function(){
	    if($(this).is(":checked"))
	       $("#partnerOrg").removeAttr("disabled");
	    else
	       $("#partnerOrg").attr("disabled" , "disabled");
	});
	});  
</script>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('programs')}" />
	<div class="container">
		<form action="#" th:action="@{editFo}" th:object="${programForm}" method="post">            		
        	<input type="hidden" th:field="*{id}" />
        	<input type="hidden" th:field="*{programLeadName}" />
			<h1>Edit Funding Opportunity</h1>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label" th:utext="#{form.name}">Name</div>
				<div><input th:field="*{nameEn}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('nameEn')}" th:errors="*{nameEn}">Name Error</div>
			</div>
			
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label" th:utext="#{form.name}">Name</div>
				<div><input th:field="*{nameFr}" class="col-sm-2"  /></div>
				<div th:if="${#fields.hasErrors('nameFr')}" th:errors="*{nameFr}">Name Error</div>
			</div>
			
			
			<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.leadAgency}">Lead Agency</div>
				<div><select class="col-sm-2" th:field="*{leadAgency}">
					<option th:each="agency : ${allAgencies}"
						th:value="${agency.id}"
						th:text="${agency.getLocalizedAttribute('acronym')}">
					</option>
				</select>
			</div>
				<div th:if="${#fields.hasErrors('leadAgency')}" th:errors="*{leadAgency}">Lead Agency Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label" th:utext="#{form.division}">Division</div>
				<div><input  class="col-sm-2" th:field="*{division}"  /></div>
				<div th:if="${#fields.hasErrors('division')}" th:errors="*{division}">Division Error</div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Is Joint Initiative? </div>
				<div><input id="isJointInitiative" type="checkbox" th:field="*{isJointInitiative}" class="col-sm-2"	></div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Participating Organization </div>
				<div><input id="partnerOrg" type="text" th:field="*{partnerOrg}" class="col-sm-2" disabled ></div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Participant Complex? </div>
				<div><input id="isComplex" type="checkbox" th:field="*{isComplex}" class="col-sm-2" ></div>
			</div>
			
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Is EDI Required? </div>
				<div><input id="isEdiRequired" type="checkbox" th:field="*{isEdiRequired}" class="col-sm-2"  ></div>  
			</div>
				
			<div class="form-group row">
				<div class="col-sm-2 col-form-label" th:utext="#{form.fundingType}">Funding Type</div>
				<div><input class="col-sm-2" th:field="*{fundingType}" /></div>
				<div th:if="${#fields.hasErrors('fundingType')}" th:errors="*{fundingType}">Funding Type Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Number of agencies</div>
				<div class="col-sm-8" th:text="${#lists.size(fo.participatingAgencies)}"></div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label" th:utext="#{form.frequency}">Frequency</div>
				<div><input class="col-sm-2" th:field="*{frequency}" /></div>
				<div th:if="${#fields.hasErrors('frequency')}" th:errors="*{frequency}">Frequency Error</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label" th:utext="#{form.programLeadName}">Program Lead Name</div>
				<div class="col-sm-2" th:text="${fo.programLeadName}"></div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label">Stages: </div>
				<br>
				<div><input id="isNOI" type="checkbox" th:field="*{isNOI}" class="col-sm-2"> NOI </div>
				<div><input id="isLOI" type="checkbox" th:field="*{isLOI}" class="col-sm-2"> LOI </div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 col-form-label" th:utext="#{form.participatingAgencies}">Agencies</div>
			
				<div>
					<select class="col-sm-10 mdb-select md-form js-example-basic-single" 
		            	th:field="*{participatingAgencies}" multiple>
							<option value="${agency.id}" th:each="agency : *{participatingAgencies}"
								th:value="${agency.id}"
								th:text="${agency.getLocalizedAttribute('acronym')}" selected="selected"></option>
							<option value="${agency.id}" th:each="agency : ${otherAgencies}"
								th:value="${agency.id}"
								th:text="${agency.getLocalizedAttribute('acronym')}"></option>
		            </select>
	            </div>
		
	            
				<div th:if="${#fields.hasErrors('participatingAgencies')}" th:errors="*{participatingAgencies}">Agencies Error</div>
			</div>
			
			<input type="submit" class="btn btn-primary" role="button" th:value="Submit" />
		</form>
	</div>

</body>
</html>