<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title>Granting Data - View Funding Opportunity</title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('programs')}" > </div>
	<div class="container">
		<h1>View Funding Opportunity</h1>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.name}">Name</div>
			<div class="col-sm-10" th:text="${fo.getLocalizedAttribute('name')}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.leadAgency}">Lead Agency</div>
			<div class="col-sm-10"><a th:if="${fo.leadAgency != null}" th:href="@{/browse/viewAgency(id=${fo.leadAgency.id})}" th:text="${fo.leadAgency.acronym}"></a></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.division}">Division</div>
			<div class="col-sm-10" th:text="${fo.division}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.fundingType}">Funding Type</div>
			<div class="col-sm-10" th:text="${fo.fundingType}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label">Number of agencies</div>
			<div class="col-sm-10" th:text="${#lists.size(fo.participatingAgencies)}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.frequency}">Frequency</div>
			<div class="col-sm-10" th:text="${fo.frequency}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.applyMethod}">Apply Method</div>
			<div class="col-sm-10" th:text="${fo.applyMethod}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.awardSystem}">Award System</div>
			<div class="col-sm-10" th:text="${fo.awardManagementSystem}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.programLeadName}">Program Lead Name</div>
			<div class="col-sm-2" th:text="${fo.programLeadName}"></div>
			<div class="col-sm-2">
				<a class="btn" th:href="@{editProgramLead(id=${fo.id})}">Change Program Lead</a>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.participatingAgencies}">Agencies</div>
			<div class="col-sm-10">
				<ul th:each="agency : ${fo.participatingAgencies}">
					<li class="col-sm-10" th:text="${agency.getLocalizedAttribute('acronym')}"></li>
				</ul>
			</div>
		</div>
		<a class="btn btn-primary" th:href="@{editFo(id=${fo.id})}" role="button">Edit</a>
		
		<div class="form-group row">
			<div><h2>Funding Cycles</h2></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<table id="fundingCycles" class="table table-bordered">
				<thead>
					<tr>
						<td>Fiscal Year</td>
						<td>Start Date</td>
						<td>End Date</td>
						<td>Start Date NOI</td>
						<td>End Date NOI</td>
						<td>Start Date LOI</td>
						<td>End Date LOI</td>
						<td>Start Date FUll Application</td>
						<td>End Date NOI Full Application</td>
						<td>Expected # of Applications</td>
						<td> Edit  </td>
					</tr>

				</thead>
				<tbody th:if="${fundingCycles!=null}">
					<tr th:each="fundingCycle : ${fundingCycles}">
						<td th:text="${fundingCycle.fiscalYear.year}" ></td>
						<td th:text="${fundingCycle.startDate}" ></td>
						<td th:text="${fundingCycle.endDate}" ></td>
						<td th:text="${fundingCycle.startDateNOI}" ></td>
						<td th:text="${fundingCycle.endDateNOI}" ></td>
						<td th:text="${fundingCycle.startDateLOI}" ></td>
						<td th:text="${fundingCycle.endDateLOI}" ></td>
						<td th:text="${fundingCycle.startDateFullApplication}" ></td>
						<td th:text="${fundingCycle.endDateFullApplication}" ></td>
						<td th:text="${fundingCycle.expectedApplications}" ></td>
						<td> <a class="btn btn-primary" th:href="@{/manage/editFc(id=${fundingCycle.id})}" role="button"> Edit </a></td>
					</tr>

				</tbody>
				</table>
			</div>
		</div>
		<a class="btn btn-primary" th:href="@{createFundingCycle(id=${fo.id})}" role="button">Create Funding Cycle</a>
		
		<div class="form-group row">
			<div><h2>System Funding Cycles</h2></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<table id="fundingCycles" class="table table-bordered">
				<thead>
					<tr>
						<td>Year</td>
						<td># of Applications Received</td>
					</tr>

				</thead>
				<tbody th:if="${systemFundingCycles!=null}">
					<tr th:each="fundingCycle : ${systemFundingCycles}">
						<td th:text="${fundingCycle.fiscalYear}" ></td>
						<td th:text="${fundingCycle.numAppsReceived}" ></td>
					</tr>

				</tbody>
				</table>
			</div>
		</div>
		<div class="form-group row">
			<div><h2>Granting Capabilities</h2></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<table id="grantingCapabilitiesTable" class="table table-bordered">
				<thead>
					<tr>
						<td>Description</td>
						<td>URL</td>
						<td>Granting Stage</td>
						<td>Granting System</td>
						<td></td>
					</tr>

				</thead>
				<tbody th:if="${grantingCapabilities!=null}">
					<tr th:each="gc : ${grantingCapabilities}">
						<td th:text="${gc.description}" ></td>
						<td th:text="${gc.url}" ></td>
						
						<td th:text="${gc.grantingStage.getLocalizedAttribute('name')}" ></td>
						<td th:text="${gc.grantingSystem.getLocalizedAttribute('name')}" ></td>
						<td><a></a></td>
						
					</tr>

				</tbody>
				</table>
			</div>
		</div>
		<a class="btn btn-primary" th:href="@{addGrantingCapabilities(id=${fo.id})}" role="button">Add Granting Capability</a>
		
	</div>
   </body>
</html>

