<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title th:text="#{title.forbidden}"></title>
</head>
<body id="forbiddenByRoleErrorPage">
	<div class="container">
		<h2 th:text="#{h.err}"></h2>
		<div class="alert alert-danger" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only" th:utext="#{err.errorWithColon}"></span>
		  <span th:text="#{err.yourAcct}"></span>
		</div>
		<p th:text="#{p.forbidden.contactSupportCentral}"></p>
	</div>
   </body>
</html>