<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
	<title th:text="#{title.analyzeFoUploadData}"></title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {

			var table = $('#datasetFilesTable').DataTable({
				"paging": false
			});
		});
	</script>
</head>

<body>
	<div th:insert="~{fragments/general.html :: header_nav('datasets')}" ></div>
	<div class="section">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<h2 th:text="#{h.analyzeFoUploadData}"></h2>
				<p th:text="#{p.admin.anaylzeFoUploadData.plsReview}"></p>
				<form method="POST" th:action="@{analyzeFoUploadData}">
					<input type="hidden" name="filename" th:value="${filename}" />
					<table id="datasetFilesTable" class="display">
  			        <!-- Header Table -->
				    <thead>
				            <tr>
				                <th th:text="#{th.fc}"></th>
				                <th th:text="#{th.fo}"></th>
				                <th th:text="#{th.action}"></th>
				            </tr>
					</thead>
					<tbody>
						<tr th:each="fo : ${fileRows}">
							<td th:text="${fo.foCycle}"></td>
							<td th:text="${fo.getLocalizedAttribute('programName')}" ></td>
							<td>
								<div th:switch="${#arrays.contains(actionRowIds, fo.foCycle)}">
									<label th:utext="#{msg.forAction}" th:case="true" style="font-weight: normal"></label><input type="checkbox" name="idToAction" th:value="${fo.foCycle}" checked="checked" /> 
									<label th:text="#{msg.exists}" th:case="false" style="font-weight: normal"></label>
									<label th:case="*" style="font-weight: normal">???</label>
								</div>
							</td>
						</tr>
					</tbody>
					</table>
					<input type="submit" th:value="#{input.register}"/>
				</form>
			</div>
	</div>
   </body>
</html>

