<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
	<title>Granting Data - Analyze System Funding Opportunities</title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			var table = $('#dataTable').DataTable({});
		});
	</script>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('programs')}" ></div>
	<div class="section">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<h1>Programs Table</h1>
				<table id="programsTable" class="display">
			       <!-- Header Table -->
			       <thead>
			            <tr>
			                <th>Ext Id</th>
			                <th>Name</th>
			                <th>Granting System</th>
			                <th>Linked to</th>
			            </tr>
			        </thead>
			        <tbody>
						<tr th:each="app : ${systemFOs}">
							<td><a th:href="@{viewSystemFO(id=${app.id})}" th:text="${app.extlId}"></a></td>
							<td th:text="${app.nameEn}"></td>
							<td th:text="${app.grantingSystem.nameEn}"></td>
							<th><a th:href="@{../browse/viewFo(id=${})}" th:text="${app.linkedFundingOpportunity.nameEn}"></th>
						</tr>
					</tbody>
			        
			    </table>
		        <p>Click <a th:href="programs">here</a> to access JSON API.</p>
			</div>
			<div class="col-sm-2"></div>

	</div>    
</body>
</html>