<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title>Granting Data - Admin Home</title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('home')}" />
	<div class="container">
		<h1>Admin Home</h1>
		<div th:if="${actionMessage != null}" th:text="${actionMessage}"></div>
        <p>Please choose one of the following options</p>
        <ol>
	        <li><a href="selectFileForComparison">Select file for data analysis and upload</a></li>
	        <li><a href="">Analyze links between Golden FOs and System FOs</a></li>
	        <li><a href="importProgramsFromFile">Upload Golden list</a></li>
	        <li><a href="">Add Golden FO</a></li>
        </ol>
	</div>
   </body>
</html>