<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title th:text="#{title.selectFileForComparison}"></title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('datasets')}" ></div>
	<div class="section">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<h2 th:text="#{h.FcDatasetImport}"></h2>
				<p th:text="#{p.selectDatasetFile}"></p>
				<table id="datasetFilesTable" class="display">
			       <!-- Header Table -->
			    <thead>
			            <tr>
			                <th th:text="#{th.filename}"></th>
			                <th th:text="#{th.action}"></th>
			            </tr>
				</thead>
				<tbody>
					<tr th:each="file : ${datasetFiles}">
						<td th:text="${file.name}"></td>
						<td><a class="btn" th:text="#{link.select}" th:href="@{analyzeFoUploadData(filename=${file.name})}"></a></td>
					</tr>
				</tbody>
				</table>
			</div>
	</div>
   </body>
</html>

