<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
	<title th:text="#{title.viewSFo}"></title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			var table = $('#fosForLinking').DataTable({});
		});
	</script>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('datasets')}" />
	<div class="container">
		<h1 th:text="#{h.viewSFo}"></h1>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:text="#{form.name}"></div>
			<div class="col-sm-10" th:text="${systemFO.getLocalizedAttribute('name')}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:text="#{msg.extId}"></div>
			<div class="col-sm-10" th:text="${systemFO.extId}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:text="#{msg.goldenFo}"></div>
			<div class="col-sm-10" th:text="${systemFO.linkedFundingOpportunity != null} ? ${systemFO.linkedFundingOpportunity.getLocalizedAttribute('name')} : 'No Links'"></div>
		</div>
		<div th:if="${systemFO.linkedFundingOpportunity == null}">
			<div class="form-group row">
				<div class="col-sm-2 col-form-label" th:text="#{msg.fosForMapping}"></div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<table id="fosForLinking">
					<thead>
						<tr>
							<td th:text="#{msg.foName}"></td>
							<td th:text="#{msg.action}"></td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="foForLink : ${fosForLink}">
							<td><a th:href="@{'/browse/viewFO'(id=${foForLink.id})}" th:text="${foForLink.getLocalizedAttribute('name')}"></a></td>
							<td><form method="post" th:action="registerFOLink"><input type="hidden" name="id" th:value="${systemFO.id}" /><input type="hidden" name="foId" th:value="${foForLink.id}" /><input class="btn" type="submit" th:value="#{input.link}"/></form></td>
						</tr>
					</tbody>
					</table>
				</div>
			</div>
<!-- 
			<div class="form-group row">
				<div class="col-sm-4 col-form-label" th:utext="#{form.createFromDataset}">Create Entity From Data-set</div>
				<div class="col-sm-8"><form th:action="createfoFromDataset" method="post"><input name="id" type="hidden" th:value="${systemFO.id}"/><input class="btn" type="submit" th:value="#{action.create}"/></form></div>
			</div>
-->			
			
		</div>
	</div>
   </body>
</html>

