<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<head>
<meta charset="ISO-8859-1">
<title th:text="#{title.home}"></title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('home')}" />
	<div class="container">
		<p th:text="#{p.home.welcome}"></p>
		
		<P th:text="#{p.home.browse}"></P>
		<ol>
			<li><a href="browse/viewCalendar" th:text="#{link.fc.cal}"></a></li>
			<li><a href="browse/goldenList" th:text="#{link.browse.fos}"></a></li>
			<li><a href="browse/viewFiscalYear" th:text="#{link.browse.fy}"></a></li>
		</ol>
		
		<p th:text="#{p.home.adminZone}">
		<ol>
			<li><a href="fundingOpp/editProgramLead" th:text="#{link.fo.searchUser}"></a></li>
			<li><a href="admin/home" th:text="#{link.admin.home}"></a></li>
		</ol>
	</div>
</body>
</html>