<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<meta charset="ISO-8859-1">
<title>Granting Data - Edit Program Lead</title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('programs')}" />
	<div class="container">
		<h1>Search User</h1> <!--  th:utext="${fundingOpp.searchUser}" --> 
		<form action="#" th:action="@{editProgramLead}"  method="get">
			<input type="hidden" name="id" th:value="${originalId}" />
			<div class="form-group row">
				<div class="col-sm-2 col-form-label" th:utext="#{searchUser.nameEn}">Name EN</div>
				<div><input type="text" name="username" /></div>
			</div>
			<input type="submit" class="btn btn-primary" role="button" th:value="#{searchUser.submit}" />
		</form>
		
		<form th:if="${matchingUsers != null}" method="post">	
			<table class="table table-bordered">
	   			<thead>
	       			<tr>
	       				<th></th>
	           			<th> Username </th>
	           			<th> Surname </th>
	       			</tr>
	   			</thead>
	  			<tbody>
	   				<tr th:if="${matchingUsers.empty}">
	           			<td colspan="3"> No Matching Users </td>
	       			</tr>
	       			<tr th:each="user : ${matchingUsers}">
	       				<td><input type="radio" /></td>
	           			<td><span th:text="${user.username}"></span></td>
	           			<td><span th:text="${user.sn}"></span></td>
	       			</tr>
	   			</tbody>
			</table>
		</form>
		
	</div>
</body>
</html>