<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
	<meta charset="ISO-8859-1">
	<title>Granting Data - Golden List</title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			var table = $('#goldenListTable').DataTable({});
		});
	</script>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('home')}" />
	<div class="container">
		
			<h1>Golden List</h1>
			<table id="goldenListTable" class="display">
				<thead>
		            <tr>
		                <th>Funding Opportunity Name</th>
		                <th>Lead Agency</th>
		                <th>Cycle Start Date</th>
		                <th>Cycle End Date</th>
		                <th>Expected Applications</th>
		            </tr>
				</thead>
				
				<tbody>
	       			<tr th:each="fo : ${goldenList}">
	           			<td><a th:href="@{viewFo(id=${fo.id})}"><span th:text="${fo.getLocalizedAttribute('name')}"></span></a></td>
	           			<!-- <td><span th:if="${fo.leadAgency != null}" th:text="${fo.leadAgency.getLocalizedAttribute('name')}"></span></td>  -->
	           			<td><span th:text="${fo.leadAgency == null} ? 'None' : ${fo.leadAgency.getLocalizedAttribute('acronym')}"></span></td>
	           			<td><span th:text="${fcByFoMap.get(fo.id) == null} ? 'None' : ${fcByFoMap.get(fo.id).startDate}"></span></td>   <!-- add cycle start date -->
	           			<td><span th:text="${fcByFoMap.get(fo.id) == null} ? 'None' : ${fcByFoMap.get(fo.id).endDate}"></span></td>	  <!-- add cycle end date -->
	           			<td><span th:text="${fcByFoMap.get(fo.id) == null} ? 'None' : ${fcByFoMap.get(fo.id).expectedApplications}"></span></td>   <!-- add expected applications -->
	       			</tr>
   				</tbody>
			</table>
		
	
	</div>

</body>
</html>