<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
	<meta charset="ISO-8859-1">
	<title id="/browse/goldenListPage" th:text="#{title.goldenList}"></title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			var table = $('#goldenListTable').DataTable({});
		});
	</script>
</head>
<body id="goldenListPage">
	<div th:insert="~{fragments/general.html :: header_nav('home')}" />
	<div class="container">
		
			<h1 th:text="#{h.goldenList}"></h1>
			<table id="goldenListTable" class="display">
				<thead>
		            <tr>
		                <th th:text="#{th.foName}"></th>
		                <th th:text="#{th.leadAgency}"></th>
		                <th th:text="#{th.division}"></th>
		                <th th:text="#{th.applySystem}"></th>
		                <th th:text="#{th.awardSystems}"></th>
		            </tr>
				</thead>
				
				<tbody>
	       			<tr th:each="fo : ${goldenList}">
	           			<td><a th:href="@{viewFo(id=${fo.id})}"><span th:text="${fo.getLocalizedAttribute('name')}"></span></a></td>
	           			<td><span th:text="${fo.leadAgency == null} ? 'None' : ${fo.leadAgency.getLocalizedAttribute('acronym')}"></span></td>
	           			<td><span th:text="${fo.division}" ></span></td>
	           			<td><span th:text="${applySystemByFoMap.get(fo.id) == null} ? 'None' : ${applySystemByFoMap.get(fo.id).acronym}"></span></td>
	           			<td><span th:if="${awardSystemsByFoMap.get(fo.id) == null}" th:value="None"></span>
	           				<span th:if="${awardSystemsByFoMap.get(fo.id) != null}" ><span th:each="system : ${awardSystemsByFoMap.get(fo.id)}"><span th:text="${system.acronym}"></span></span></span></td>
<!-- 	           			<td><span th:text="${fcByFoMap.get(fo.id) == null} ? 'None' : ${fcByFoMap.get(fo.id).startDate}"></span></td>   add cycle start date -->
<!-- 	           			<td><span th:text="${fcByFoMap.get(fo.id) == null} ? 'None' : ${fcByFoMap.get(fo.id).endDate}"></span></td>	  add cycle end date -->
<!-- 	           			<td><span th:text="${fcByFoMap.get(fo.id) == null} ? 'None' : ${fcByFoMap.get(fo.id).expectedApplications}"></span></td>   add expected applications -->
	       			</tr>
   				</tbody>
			</table>
		<div th:if="${#request.isUserInRole('ROLE_MDM ADMIN')}"> 	
		<div style="display:flex; justify-content:flex-end; width:100%; margin-top:10px;color:red">
      	<h3 ><a href="/admin/createFo" th:text="#{link.addFo}"></a></h3>
      	 </div> 
		</div>
	</div>

</body>
</html>