<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<meta charset="ISO-8859-1">
<title th:text="#{title.home}"></title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('home')}" ></div>
	<div class="container">
		
			<h1 th:text="${selectedFoName}"></h1>
			<table id="SelectedFoTable" class="table table-bordered">
				<thead>
		            <tr>
		                <th th:text="#{form.division}"></th>
		                <th th:text="#{form.frequency}"></th>
		                <th th:text="#{form.fundingType}"></th>
		                <th th:text="#{form.programLeadName}"></th>
		            </tr>
				</thead>
				
				<tbody>
	       			<tr th:each="fo : ${fos}" >
	           			<td><span th:text="${fo.division}"></span></td>
	           			<td><span th:text="${fo.frequency}"></span></td>
	           			<td><span th:text="${fo.fundingType}"></span></td>
	           			<td><span th:text="${fo.programLeadName}"></span></td>
	       			</tr>
   				</tbody>
			</table>
		
	
	</div>
	

</body>
</html>