<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<meta charset="ISO-8859-1">
<title>Granting Data</title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('home')}" />
	<div class="container">
		
			<h1 th:text="${selectedFoName}"></h1>
			<table id="SelectedFoTable" class="table table-bordered">
				<thead>
		            <tr>
		                <th>Apply Method</th>
		                <th>Award Management System</th>
		                <th>Division</th>
		                <th>Frequency</th>
		                <th>Funding Type</th>
		                <th>Program Lead Name</th>
		            </tr>
				</thead>
				
				<tbody>
	       			<tr th:each="fo : ${fos}" >
	           			<td><span th:text="${fo.applyMethod}"></span></td>
	           			<td><span th:text="${fo.awardManagementSystem}"></span></td>
	           			<td><span th:text="${fo.division}"></span></td>
	           			<td><span th:text="${fo.frequency}"></span></td>
	           			<td><span th:text="${fo.fundingType}"></span></td>
	           			<td><span th:text="${fo.programLeadName}"></span></td>
	       			</tr>
   				</tbody>
			</table>
		
	
	</div>
	

</body>
</html>