<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
	<meta charset="ISO-8859-1">
	<title th:text="#{title.fundingOpportunities}"></title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			var table = $('fc').DataTable({});
		});
	</script>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('home')}" />
	<div class="container">
		
			<h1 th:text="#{h.fcs}"></h1>
			<table id="fc" class="display" border="1" width="1000">
				<thead>
		            <tr>
		                <th th:text="#{th.foName}"></th>
		                <th th:text="#{th.cycleStart}"></th>
		                <th th:text="#{th.cycleEnd}"></th>
		            </tr>
				</thead>
				
				<tbody>
	       			<tr th:each="fc : ${fc}">
	           			<td><span th:text="${fc.fundingOpportunity.getLocalizedAttribute('name')}"></span></td>
						<td><span th:text="${fc.startDate}"></span></td>
	           			<td><span th:text="${fc.endDate}"></span></td>
	       			</tr>
   				</tbody>
			</table>
		
	
	</div>

</body>
</html>