<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  id="/browse/viewFoPage">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title th:utext="#{title.viewFoPage}"></title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('programs')}" > </div> 
	<div class="container">
		<h1 th:utext="#{h.viewFo}"></h1>
		<div class="form-group row" id="nameRow">
			<div class="col-sm-2 col-form-label" th:utext="#{form.name}">Name</div>
			<div class="col-sm-10" th:text="${fo.getLocalizedAttribute('name')}"></div>
		</div>
		<div class="form-group row" id="leadAgencyRow">
			<div class="col-sm-2 col-form-label" th:utext="#{form.leadAgency}">Lead Agency</div>
			<div class="col-sm-10"><a th:if="${fo.leadAgency != null}" th:href="@{/browse/viewAgency(id=${fo.leadAgency.id})}" th:text="${fo.leadAgency.acronym}"></a></div>
		</div>
		<div class="form-group row" id="divisionRow">
			<div class="col-sm-2 col-form-label" th:utext="#{form.division}">Division</div>
			<div class="col-sm-10" th:text="${fo.division}"></div>
		</div>
		<div class="form-group row" id="fundingTypeRow">
			<div class="col-sm-2 col-form-label" th:utext="#{form.fundingType}">Funding Type</div>
			<div class="col-sm-10" th:text="${fo.fundingType}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:text="#{form.numAgencies}"></div>
			<div class="col-sm-10" th:text="${#lists.size(fo.participatingAgencies)}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.frequency}">Frequency</div>
			<div class="col-sm-10" th:text="${fo.frequency}"></div>
		</div>
		<div class="form-group row" id="programLeadRow">
			<div class="col-sm-2 col-form-label" th:utext="#{form.programLeadName}">Program Lead Name</div>
			<div class="col-sm-10" th:text="${fo.programLeadName}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.participatingAgencies}">Agencies</div>
			<div class="col-sm-10">
				<ul th:each="agency : ${fo.participatingAgencies}">
					<li class="col-sm-10" th:text="${agency.getLocalizedAttribute('acronym')}"></li>
				</ul>
			</div>
		</div>
		<div class="form-group row">
			<div><h3 th:text="#{h.grantingCapabilities}"></h3></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<table id="grantingCapabilitiesTable" class="table table-bordered">
				<thead>
					<tr>
						<td th:text="#{th.description}"></td>
						<td th:text="#{th.url}"></td>
						<td th:text="#{th.grantingStage}"></td>
						<td th:text="#{th.gs}"></td>
						<td></td>
					</tr>

				</thead>
				<tbody th:if="${grantingCapabilities!=null}">
					<tr th:each="gc : ${grantingCapabilities}">
						<td th:text="${gc.description}" ></td>
						<td th:text="${gc.url}" ></td>
						
						<td th:text="${gc.grantingStage.getLocalizedAttribute('name')}" ></td>
						<td th:text="${gc.grantingSystem.getLocalizedAttribute('name')}" ></td>
						<td><a></a></td>
						
					</tr>

				</tbody>
				</table>
			</div>
		</div>
		
		<div class="form-group row">
			<div><h3 th:text="#{h.fcs}"></h3></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<table id="fundingCycles" class="table table-bordered">
				<thead>
					<tr>
						<td th:text="#{th.yr}"></td>
<!-- 						<td th:text="#{th.startDateSystemPlanned}"></td> -->
<!-- 						<td th:text="#{th.endDateSystemPlanned}"></td> -->
						<td th:text="#{th.numApps}"></td>
					</tr>

				</thead>
				
				<tbody th:if="${fcDataMap!=null}">
					<tr th:each="row : ${fcDataMap}">
						<td th:text="${row.value.year}" ></td>
<!-- 						<td><span th:text="${row.value.fc} ? ${row.value.fc.startDate} : 'N/A'"></span> / <span th:text="${row.value.sfc} ? ${row.value.sfc.fiscalYear} : 'N/A'"></span></td> -->
<!-- 						<td><span th:if="${row.value.fc}"><span th:text="${row.value.fc.isOpen} ? 'Open' : ${row.value.fc.endDate}"></span></span> / <span th:text="${row.value.sfc} ? ${row.value.sfc.compYear} : 'N/A'"></span></td> -->
						<td><span th:text="${row.value.fc} ? ${row.value.fc.expectedApplications} : 'N/A'"></span> / <span th:text="${row.value.sfc} ? ${row.value.sfc.numAppsReceived} : 'N/A'"></span></td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	
		<a class="btn btn-primary" th:href="@{/manage/manageFo(id=${fo.id})}" role="button" th:text="#{link.manageFo}"></a>
	</div>
	
	
   </body>
</html>

