<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
	<meta charset="ISO-8859-1">
	<title> Fiscal Year </title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			var table = $('#fiscalYear').DataTable({});
		});
	</script>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('home')}" />
	<div class="container">
	
			<table id="fiscalYear" class="display">
		
				<thead>
		            <tr>
		                <th>Fiscal Year</th>
		                <th> List of Funding Cycles </th>
		              
		            </tr>
				</thead>
				
				<tbody>
	       			<tr th:each="fo : ${fiscalYear}">
	       				<td><span th:text="${fo.year}"></span></td>
	       				<td> <a class="btn btn-primary" th:href="@{viewFcFromFy(id=${fo.id})}" role="button">View</a> </td>
	           			   <!-- add expected applications -->
	       			</tr>
   				</tbody>
			</table>
		 
	</div>
	
         <div th:if="${#request.isUserInRole('ROLE_MDM ADMIN')}"> 
		<form action="#" th:action="@{viewFiscalYear}" th:object="${fy}"  method="post">
		<span style="display:flex; justify-content:flex-end; width:80%; margin-top:10px;">
		<input type="text" th:field="*{year}" />
		<input type="submit" class="btn btn-primary" role="button" th:value="Submit" />
		</span>
		</form>
 		</div> 
		
		<table id="error" class="display" style="display:flex; justify-content:flex-end; width:80%; margin-top:10px;color:red">
				<thead>
		            <tr>
		                <th></th>
		            </tr>
				</thead>
				
				<tbody>
	       			<tr>
	           			<td th:text="${error}"> </td>	           		
	       			</tr>
   				</tbody>
			</table>
</body>
</html>