<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title>Granting Data - View Funding Opportunity</title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('programs')}" />
	<div class="container">
		<h1>View Funding Opportunity</h1>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.name}">Name</div>
			<div class="col-sm-10" th:text="${fo.getLocalizedAttribute('name')}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.leadAgency}">Lead Agency</div>
			<div class="col-sm-10"><a th:if="${fo.leadAgency != null}" th:href="@{/browse/viewAgency(id=${fo.leadAgency.id})}" th:text="${fo.leadAgency.acronym}"></a></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.division}">Division</div>
			<div class="col-sm-10" th:text="${fo.division}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.fundingType}">Funding Type</div>
			<div class="col-sm-10" th:text="${fo.fundingType}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label">Number of agencies</div>
			<div class="col-sm-10" th:text="${#lists.size(fo.participatingAgencies)}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.frequency}">Frequency</div>
			<div class="col-sm-10" th:text="${fo.frequency}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.applyMethod}">Apply Method</div>
			<div class="col-sm-10" th:text="${fo.applyMethod}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.awardSystem}">Award System</div>
			<div class="col-sm-10" th:text="${fo.awardManagementSystem}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.programLeadName}">Program Lead Name</div>
			<div class="col-sm-10" th:text="${fo.programLeadName}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.participatingAgencies}">Agencies</div>
			<div class="col-sm-10">
				<ul th:each="agency : ${fo.participatingAgencies}">
					<li class="col-sm-10" th:text="${agency.getLocalizedAttribute('acronym')}"></li>
				</ul>
			</div>
		</div>
		<a class="btn btn-primary" th:href="@{editFo(id=${fo.id})}" role="button">Edit</a>
		
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.agencies}">Funding Cycles</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<table id="fundingCycles">
				<thead>
					<tr>
						<td>Year</td>
						<td>Start Date</td>
						<td>End Date</td>
						<td>Expected # of Applications</td>
					</tr>

				</thead>
				<tbody>
					<tr th:each="program : ${agencyPrograms}">
						<td th:text="" ></td>
						<td th:text="" ></td>
						<td th:text="" ></td>
						<td th:text="" ></td>
					</tr>

				</tbody>
				</table>
			</div>
		</div>
		
	</div>
   </body>
</html>

